.header {
	background-color:#1882cd;
	text-align: center;
	text-decoration: none;
	color: white;
	font-family: mostra-nuova, sans-serif;
	font-style: normal;
	position: sticky;
	top: 0;
	z-index: 100;
	margin-right:10px;
	vertical-align: middle;
}

.headerItems {
	margin-right: 40px;
}

.header-welcome {
	font-size: 1.5rem;
	padding-top: 10px;
	padding-right: 10px;
}

.header-navigation {
	font-size: 1rem;
	padding-top: 0.5rem;
}

.header-contact {
	font-size: 1rem;
	padding-top: 15px;
}

.header-contact-name {
	color: black;
	padding-right: 10px;
	font-weight: 700;
}

.header-contact-phone {
	text-decoration: underline
}

.header-logo {
	/*background-image: url("../../assets/images/abc_logo_white.png");*/
	background-image: url("../../assets/images/abc_logo_white.png");
	/*background-image: url("../../assets/images/abc_logo_white_1_no_text_120.svg");*/
	background-size: cover;
	cursor: pointer;
	margin: 6px;
	height: 42px;
	width: 56px;
}

.header-logo:focus, .header:focus {
	outline: none !important;
}

.header span {
	cursor: pointer;
}
