<div class="container-fluid advancedSearch advancedSearchWrapper">
	<div class="row justify-content-center">
		<div class="searchHeader">Advanced Search</div>
	</div>
	<form (ngSubmit)="onSubmit()" #AbcSimpleSearch="ngForm">
		<div class="row justify-content-center">
			<div class="form-group advancedSearchTextBox">
				<label for="searchText">Location</label>
				<input
					[(ngModel)]="model.searchText"
					type="text"
					class="form-control"
					id="searchText"
					name="searchText"
					placeholder="City, State, or ZIP">
			</div>

			<div class="form-group ">
				<label for="beds">Bedrooms</label>
				<select
					[(ngModel)]="model.beds"
					class="form-control"
					id="beds"
					name="beds">
					<option *ngFor="let bed of advancedSearchOptions.bedOptions" [value]="bed">
						{{bed}}
					</option>
				</select>
			</div>

			<div class="form-group ">
				<label for="baths">Bathrooms</label>
				<select
					[(ngModel)]="model.baths"
					class="form-control"
					id="baths"
					name="baths"
					#baths="ngModel">
					<option *ngFor="let bath of advancedSearchOptions.bathOptions" [value]="bath">
						{{bath}}
					</option>
				</select>
			</div>

			<div class="form-group ">
				<label for="min_price">Min Price</label>
				<select
					[(ngModel)]="model.min_price"
					class="form-control"
					id="min_price"
					name="min_price"
					(change)="minChanged(model.min_price, 'maxPriceOptions', 'max_price')"
					#min_price="ngModel">
					<option *ngFor="let price of advancedSearchOptions.minPriceOptions" [value]="price">
						{{price}}
					</option>
				</select>
			</div>

			<div class="form-group ">
				<label for="max_price">Max Price</label>
				<select
					[(ngModel)]="model.max_price"
					class="form-control"
					id="max_price"
					name="max_price"
					(change)="maxChanged(model.max_price, 'minPriceOptions', 'min_price')"
					#max_price="ngModel">
					<option *ngFor="let price of advancedSearchOptions.maxPriceOptions" [value]="price">
						{{price}}
					</option>
				</select>
			</div>

			<div class="form-group ">
				<label for="min_sqft">Min Sqft</label>
				<select
					[(ngModel)]="model.min_sqft"
					class="form-control"
					id="min_sqft"
					name="min_sqft"
					(change)="minChanged(model.min_sqft, 'maxSqftOptions', 'max_sqft')"
					#min_sqft="ngModel">
					<option *ngFor="let sqft of advancedSearchOptions.minSqftOptions" [value]="sqft">
						{{sqft}}
					</option>
				</select>
			</div>

			<div class="form-group ">
				<label for="max_sqft">Max Sqft</label>
				<select
					[(ngModel)]="model.max_sqft"
					class="form-control"
					id="max_sqft"
					name="max_sqft"
					(change)="maxChanged(model.max_sqft, 'minSqftOptions', 'min_sqft')"
					#max_sqft="ngModel">
					<option *ngFor="let sqft of advancedSearchOptions.maxSqftOptions" [value]="sqft">
						{{sqft}}
					</option>
				</select>
			</div>

			<!--<div class="form-group ">-->
				<!--<label for="min_lot_size">Min Lot Size</label>-->
				<!--<select-->
					<!--[(ngModel)]="model.min_lot_size"-->
					<!--class="form-control"-->
					<!--id="min_lot_size"-->
					<!--name="min_lot_size"-->
					<!--(change)="minChanged(model.min_lot_size, 'maxLotSizeOptions', 'max_lot_size')"-->
					<!--#min_lot_size="ngModel">-->
					<!--<option-->
						<!--*ngFor="let lot_size of advancedSearchOptions.minLotSizeOptions"-->
						<!--[value]="lot_size">-->
						<!--{{lot_size == 0 ? "Any" : lot_size}}-->
					<!--</option>-->
				<!--</select>-->
			<!--</div>-->

			<!--<div class="form-group ">-->
				<!--<label for="max_lot_size">Max Lot Size</label>-->
				<!--<select-->
					<!--[(ngModel)]="model.max_lot_size"-->
					<!--class="form-control"-->
					<!--id="max_lot_size"-->
					<!--name="max_lot_size"-->
					<!--(change)="maxChanged(model.max_lot_size, 'minLotSizeOptions', 'min_lot_size')"-->
					<!--#max_lot_size="ngModel">-->
					<!--<option-->
						<!--*ngFor="let lot_size of advancedSearchOptions.maxLotSizeOptions"-->
						<!--[value]="lot_size">-->
						<!--{{lot_size == 0.1 ? "Any" : lot_size}}-->
					<!--</option>-->
				<!--</select>-->
			<!--</div>-->

			<div class="form-group ">
				<label for="min_year_built">Min Year Built</label>
				<select
					[(ngModel)]="model.min_year_built"
					class="form-control"
					id="min_year_built"
					name="min_year_built"
					(change)="minChanged(model.min_year_built, 'maxYearBuiltOptions', 'max_year_built')"
					#min_year_built="ngModel">
					<option *ngFor="let year_built of advancedSearchOptions.minYearBuiltOptions" [value]="year_built">
						{{year_built}}
					</option>
				</select>
			</div>

			<div class="form-group ">
				<label for="max_year_built">Max Year Built</label>
				<select
					[(ngModel)]="model.max_year_built"
					class="form-control"
					id="max_year_built"
					name="max_year_built"
					(change)="maxChanged(model.max_year_built, 'minYearBuiltOptions', 'min_year_built')"
					#max_year_built="ngModel">
					<option *ngFor="let year_built of advancedSearchOptions.maxYearBuiltOptions" [value]="year_built">
						{{year_built}}
					</option>
				</select>
			</div>

			<div class="form-group advancedSearchButtonWrapper">
				<label for="submit">&nbsp;</label>
				<button id="submit" type="submit" class=" btn btn-primary advancedSearchButton">Search</button>
			</div>

		</div>
	</form>
</div>
<div>
	<abc-listing-card-deck
		[title]=""
		[paginationHash]="paginationObject"
		[listings]="listingsService.filteredListings">
	</abc-listing-card-deck>
</div>
<abc-legal *ngIf="listingsService.filteredListings?.length"></abc-legal>