.spillwayLogo {
	padding-top: 1.25rem;
	content: url("../../assets/images/spillway/spillway.png");
}

.spillwayPageWrapper {
	margin-bottom: 150px;
}

.spillwayTextContainer {
	margin: 1rem;
	text-align: left;
}

.spillwayLink {
	color: black;
	font-family: mostra-nuova, sans-serif;
	font-style: normal;
	text-decoration: none;
	cursor: pointer;
}