<div class="container-fluid spillwayPageWrapper">
	<div class="row">
		<div class="col-6">
			<div class="photoViewerContainer" align="center">
				<img class="spillwayLogo"/>
				<p>Here is some stuff about the spillway...</p>
				<a href="https://www.spillwayevents.com" target="_blank">Spillway</a>
				<abc-email [contactDetails]="contactDetails"></abc-email>
			</div>
		</div>
		<div class="col-6">
			<div class="photoViewerContainer" align="center">
				<abc-photo-viewer [carouselPhotos]="spillwayPhotos"></abc-photo-viewer>
			</div>
		</div>
	</div>
</div>
