.welcomeMessage {
	color: black;
	font-size: 3rem;
	font-family: mostra-nuova, sans-serif;
	font-style: normal;
}
.sloganMessage{
	color: black;
	font-size: 2rem;
	font-family: mostra-nuova, sans-serif;
	font-style: normal;
}
.centerAligned{
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
}
.center-div{
	height: 100%;
 }