# Created by .ignore support plugin (hsz.mobi)
.editorconfig
WiredTiger
WiredTiger.lock
WiredTiger.turtle
WiredTiger.wt
WiredTigerLAS.wt
_mdb_catalog.wt
angular.json
collection-0--7484418827170407236.wt
collection-2--7484418827170407236.wt
collection-4--7484418827170407236.wt
data/
diagnostic.data/
e2e/
favicon.ico
index-1--7484418827170407236.wt
index-3--7484418827170407236.wt
index-5--7484418827170407236.wt
index-6--7484418827170407236.wt
journal/
mongod.lock
package-lock.json
package.json
sizeStorer.wt
src/assets/images/abc_logo_white_1_no_text_120.svg
src/assets/images/slim_logo_blue_174x108.png
src/assets/images/slim_logo_blue_174x108.psdb
src/assets/images/try1.png
src/assets/images/try3.jpg
src/assets/images/try4.jpg
src/assets/images/try4_480.png
src/assets/images/try5.png
src/browserslist
src/karma.conf.js
src/tsconfig.app.json
src/tsconfig.spec.json
src/tslint.json
storage.bson
tsconfig.json
tslint.json
/.idea/
/AtlanticBlueCoast.iml
/atlantic-blue-coast/src/assets/files/tukus.json
