.fa {
	padding: 15px 10px;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	color: white;
}

.fa-twitter {
	color: white;
}

.fa-instagram {
	color: white;
}

.contactUs {
	padding: 10px;
	text-align: center;
	text-decoration: none;
	color: white;
}