<div [routerLink]="['/selected-listing', listing.id]" id="{{listing.id}}" class="listing-card shadow-sm">
	<img class="card-img-top" [src]="listing.primaryPhoto">
	<div class="card-body">
		<h5 class="card-title">{{listing.standardFields['ListPrice'] | currency}}</h5>
		<div class="addressLine">
			{{listing.standardFields['UnparsedFirstLineAddress']}}<br/>
			{{listing.getCityAndState()}}
		</div>
	</div>
	<div class="card-footer">
		<small class="text-muted">{{listing.getBasicDetails()}}</small>
	</div>
</div>