<div [routerLink]="['/selected-listing', listing.id]" routerLinkActive="active" class="listing-card">
	<img class="card-img-top" src="{{listing.primaryPhoto}}" alt="Card image cap">
	<div class="card-body">
		<h5 class="card-title">{{listing.standardFields['ListPrice'] | currency}}</h5>
		<p class="card-text">{{listing.getStreetAddress()}}</p>
		<p class="card-text">{{listing.getCityAndState()}}</p>
	</div>
	<div class="card-footer">
		<small class="text-muted">{{listing.getBasicDetails()}}</small>
	</div>
</div>
