<div class="container">
	<div class="row">
		<div *ngIf="paginationHash" class="col-6 pull-left">
			<abc-pagination [paginationObject]="paginationHash"></abc-pagination>
		</div>
		<div *ngIf="paginationHash" class="col-6 pull-right">
			<abc-sort-listings></abc-sort-listings>
		</div>
	</div>
</div>
<div *ngIf="listings?.length" class="container justify-content-center">
	<div class="row">
		<div *ngFor="let listing of listings; index as i">
			<div class="listing-card-wrapper">
				<abc-listing-card [listing]="listing"></abc-listing-card>
			</div>
		</div>
	</div>
</div>
