.simpleSearchWrapper * {
	color: black;
	font-family: mostra-nuova, sans-serif;
	font-style: normal;
	text-align: center;
	border-radius: .2rem;
}
.simpleSearch {
	background-color: #e2e2e4;
	margin: 3rem 0rem;
	padding: 5rem 0rem;
	height: 20rem;
}
.searchHeader {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.simpleSearchButton {
	background-color: #8dd8f8;
	border: 1px solid #8dd8f8;
	margin-left: 10px;
	color: ghostwhite !important;
	font-size: 1rem;
}

.simpleSearchTextBox {
	text-align: left !important;
}