.aboutWrapper {
	color: black;
	font-family: mostra-nuova, sans-serif;
	font-style: normal;
	font-size: 1.5rem;
}

.evenRow {
	padding: 2rem 10rem;
	background-color: #8dd8f8;
}

.oddRow {
	background-color: #1882cd;
	padding: 2rem 10rem;
	color: white;

}

.row {
	text-align: center;
	white-space: pre-line;
}