<span class="mn-black abc-text-area pull-right">
	<div>
		<p>{{underConstruction.line1}}</p>
		<p>{{underConstruction.line2}}</p>
	</div>
	<div>
		<ul>
			<li *ngFor="let socialMediaLink of socialMediaLinks">
				<a [href]="socialMediaLink.href" target="_blank">{{socialMediaLink.displayText}}</a>
			</li>
		</ul>
	</div>

	<div class="contact-info">
		<p>
			{{contactInfo.name}}<br>
			{{contactInfo.street}}<br>
			{{contactInfo.cityStateZip}}
		</p>
		<p>{{contactInfo.email}}</p>
		<p>{{contactInfo.callOrText}}</p>
	</div>
</span>