<span class="mn-bold abc-text-area pull-right">
	<p>
		Welcome to Atlantic Blue Coast Realty!<br/><br/>
		Our site is currently under construction.<br/>
		In the meantime, check out our social media pages.
	</p>
	<a href="http://facebook.com/atlanticbluecoast" target="_blank">Facebook.com/AtlanticBlueCoast</a>
	<br/>
	<a href="http://twitter.com/abluecoastreal" target="_blank">Twitter.com/ABlueCoastReal</a>
	<br/>
	<a href="http://instagram.com/atlanticbluecoast" target="_blank">Instagram.com/AtlanticBlueCoast</a>
	<br/>
	<br/>
	<p>
		Atlantic Blue Coast Real<br>
		PO Box 975<br>
		Whiteville NC, 28472<br>
		<br>
		AtlanticBlueCoast@Gmail.com
	</p><br>
</span>