.photoContainer{
	margin: 20px 0;
}
.thumbIndicator {
	max-height: 42px;
	max-width: 65px;
	margin-right: 3px;
}
.photoNavWrapper {
	overflow-x: scroll;
	overflow-y: hidden;
	max-height: 45px !important;
	display: inline-block !important;
	margin-bottom: 20px;
}