.header{
	background-color:#1882cd;
	height: 60px;
	width: 100%;
	top: 0px;
	text-align: center;
	text-decoration: none;
	color: white;
	position: fixed;
	font-family: mostra-nuova, sans-serif;
	font-style: normal;
}
.header-welcome{
	font-size: 1.5rem;
	padding-top: 10px;
	padding-right: 10px;
}
.header-contact{
	font-size: 1rem;
	padding-top: 17px;
	padding-right:10px;
}
.header-contact-name{
	color: black;
	padding-right: 10px;
	font-weight: 700;
}
.header-contact-phone{
	text-decoration: underline
}