<div class="container-fluid header">
	<div class="row">
		<div class="col-sm-2">
			<span [routerLink]="['home']" class="header-logo pull-left"></span>
			<span [routerLink]="['contact_us']" class="header header-contact pull-left">(910) 625-8199</span>
		</div>
		<div class="col-sm-10 header-contact text-lg-right pull-right">
			<span [routerLink]="['home']" class="header headerItems">Home</span>
			<span [routerLink]="['about']" class="header headerItems">About</span>
			<span [routerLink]="['listings']" class="header headerItems">Our Listings</span>
			<span [routerLink]="['search']" class="header headerItems">Search MLS Listings</span>
			<span class="header headerItems">Documents</span>
			<span [routerLink]="['spillway']" class="header headerItems">The Spillway</span>
			<span [routerLink]="['contact_us']" class="header headerItems">Contact Us</span>
		</div>
	</div>
</div>