<div class="container-fluid header">
	<div class="row">
		<div class="col-sm-6">
			<span [routerLink]="['home']" class="header-logo pull-left"></span>
		</div>
		<div class="col-sm-6 header-contact text-lg-right pull-right">
			<span [routerLink]="['about']" class="header headerItems">About</span>
			<span [routerLink]="['listings']" class="header headerItems">Listings</span>
			<!--<span [routerLink]="['community']" class="header headerItems">Community</span>-->
			<span [routerLink]="['search']" class="header headerItems">Search</span>
			<span [routerLink]="['contact_us']" class="header headerItems">Contact Us</span>
		</div>
	</div>
</div>