.header{
	background-color:#1882cd;
	text-align: center;
	text-decoration: none;
	color: white;
	font-family: mostra-nuova, sans-serif;
	font-style: normal;
	padding-bottom: 15px;
	position: sticky;
	top: 0;
	z-index: 100;
}
.header-welcome{
	font-size: 1.5rem;
	padding-top: 10px;
	padding-right: 10px;
}
.header-contact{
	font-size: 1rem;
	padding-top: 17px;
}
.header-contact-name{
	color: black;
	padding-right: 10px;
	font-weight: 700;
}
.header-contact-phone{
	text-decoration: underline
}