<nav aria-label="Something">
	<ul class="pagination justify-content-end">
		<li [ngClass]="{'page-item': true, 'disabled': currentPage == 1}">
			<a class="page-link" (click)="changePage(pageNumbers[0] - 1)">Previous</a>
		</li>

		<li *ngFor="let page of pageNumbers" class="page-item">
			<a *ngIf="page <= paginationObject['TotalPages']" [ngClass]="{
				'page-link': true,
				'selectedPage': currentPage == page,
				'selectedPageNeighbor': page == currentPage + 1}"
				(click)="changePage(page)">
				{{page}}
			</a>
		</li>
		<li class="page-item">
			<a class="page-link" (click)="changePage(pageNumbers[4])">Next</a>
		</li>
	</ul>
</nav>
