<nav aria-label="ABC Pagination">
	<ul class="pagination justify-content-end">
		<li [ngClass]="{'page-item': true, 'disabled': listingsService.paginationObject['CurrentPage'] == 1}">
			<a class="page-link" (click)="changePage(1)">First</a>
		</li>
		<li [ngClass]="{'page-item': true, 'disabled': listingsService.paginationObject['CurrentPage'] == 1}">
			<a class="page-link" (click)="changePage(listingsService.pageNumbers[0] - 1)">Previous</a>
		</li>

		<li *ngFor="let page of listingsService.pageNumbers" class="page-item">
			<a
				*ngIf="page <= listingsService.paginationObject['TotalPages']"
				[ngClass]="{
					'page-link': true,
					'selectedPage': listingsService.paginationObject['CurrentPage'] == page,
					'selectedPageNeighbor': page == listingsService.paginationObject['CurrentPage'] + 1}"
				(click)="changePage(page)">
				{{page}}
			</a>
		</li>
		<li class="page-item">
			<a class="page-link" (click)="changePage(listingsService.pageNumbers[4])">Next</a>
		</li>
		<li [ngClass]="{'page-item': true, 'disabled': listingsService.paginationObject['CurrentPage'] == listingsService.paginationObject['TotalPages']}">
			<a class="page-link" (click)="changePage(listingsService.paginationObject['TotalPages'])">Last</a>
		</li>
	</ul>
</nav>
