<div style="margin-top:32px;">
	<div class="media">
		<img
			src="../../assets/images/abc_logo_1.jpg"
			class="align-self-start mr-3" alt="..."
			style="height: 128px; width: 128px;">
		<div class="media-body" style="padding: 10px; background-color:#e2e2e4;">
			<h5 class="mt-0">{{contactInfo.name}}</h5>
			<h6 class="mt-0">{{contactInfo.description}}</h6>
			<p>
				{{contactInfo.phoneNumber}}
				{{contactInfo.email}}<br/>
				{{contactInfo.address}}<br/>
			</p>
			<div>
			<span *ngFor="let socialMediaLink of contactInfo.socialMediaLinks">
				<abc-social-media [socialMediaData]="socialMediaLink"></abc-social-media>
			</span>
			</div>
		</div>
	</div>
	<br/><hr><br />
	<div class="media">
		<img
			src="../../assets/images/ehill.jpg"
			class="align-self-start mr-3" alt="..."
			style="height: 128px; width: 128px;">
		<div class="media-body" style="padding: 10px; background-color:#e2e2e4;">
			<h5 class="mt-0">{{ericContactInfo.name}}</h5>
			<h6 class="mt-0">{{ericContactInfo.description}}</h6>
			<p>
				{{ericContactInfo.phoneNumber}}
				{{ericContactInfo.email}}<br/>
			</p>
			<div>
			<span *ngFor="let socialMediaLink of ericContactInfo.socialMediaLinks">
				<abc-social-media [socialMediaData]="socialMediaLink"></abc-social-media>
			</span>
			</div>
		</div>
	</div>
</div>
