<div class="container emailWrapper" style="margin-top: 2rem !important;">
	<div class="row no-gutters">
		<div class="col-12 emailHeader">
			{{messageHeader}}
		</div>
	</div>
	<form [(hidden)]="submitted" #AbcEmailForm="ngForm" (ngSubmit)="submit(AbcEmailForm)">
		<div class="form-group">
			<input
				[(ngModel)]="model.fullName"
				type="text"
				class="form-control"
				name="fullName"
				placeholder="Full name"
				required>
		</div>
		<div class="form-group">
			<input
				[(ngModel)]="model.emailAddress"
				type="email"
				class="form-control"
				name="emailAddress"
				aria-describedby="emailHelp"
				placeholder="Email"
				required>
		</div>
		<div class="form-group">
			<input
				[(ngModel)]="model.phoneNumber"
				type="number"
				class="form-control"
				name="phoneNumber"
				placeholder="Phone number"
				required>
		</div>
		<div class="form-group">
			<textarea
				[(ngModel)]="model.message"
				class="form-control"
				name="message"
				placeholder="Message"
				style="height: 148px !important;"
				required>
			</textarea>
		</div>

		<div class="row justify-content-center">
			<div class="col-6">
				<button
					[disabled]="!AbcEmailForm.form.valid"
					id="submitButton"
					type="submit"
					class="btn btn-lg submitButton">
					{{submitButtonText}}
				</button>
			</div>
		</div>
	</form>
</div>
