<div class="container emailWrapper" style="margin-top: 2rem !important;">
	<div class="row no-gutters">
		<div class="col-12 emailHeader">
			Contact Us
		</div>
	</div>
	<form (ngSubmit)="submit()" #AbcEmailForm="ngForm">
		<div class="form-group">
			<input [(ngModel)]="model.fullName" type="text" class="form-control" name="fullName" placeholder="Full name">
		</div>
		<div class="form-group">
			<input [(ngModel)]="model.emailAddress" type="email" class="form-control" name="emailAddress" aria-describedby="emailHelp" placeholder="Email">
		</div>
		<div class="form-group">
			<input [(ngModel)]="model.phoneNumber" type="number" class="form-control" name="phoneNumber" placeholder="Phone number">
		</div>
		<div class="form-group">
			<textarea [(ngModel)]="model.message" class="form-control" name="message" rows="3" placeholder="Message"></textarea>
		</div>

		<div class="row justify-content-center">
			<div class="col-6">
				<button
					id="submitButton"
					type="submit"
					class="btn btn-lg submitButton">
					Send
				</button>
			</div>
		</div>
	</form>
</div>
