.mn-thin {
	font-family: mostra-nuova, sans-serif;
	font-style: normal;
	font-weight: 200;
}
.mn-light {
	font-family: mostra-nuova, sans-serif;
	font-style: normal;
	font-weight: 300;
}
.mn-regular {
	font-family: mostra-nuova, sans-serif;
	font-style: normal;
	font-weight: 400;
}
.mn-bold {
	font-family: mostra-nuova, sans-serif;
	font-style: normal;
	font-weight: 700;
}
.mn-heavy {
	font-family: mostra-nuova, sans-serif;
	font-style: normal;
	font-weight: 800;
}
.mn-black {
	font-family: mostra-nuova, sans-serif;
	font-style: normal;
	font-weight: 900;
}
.backgroundPattern{
	background-image:url("../assets/images/ABCReal1.jpg");
	background-size: 100% 100%;
	/*height: 100vh;*/
}

.withGradient{
	height: 100vh;
	width: 100vw;
	background-repeat: no-repeat !important;
	background-position: 0% 50% !important;
	background:
		url("../assets/images/abc_logo_1.jpg"),
		no-repeat,
		no-repeat,
		linear-gradient(-154deg, #8dd8f8 46%, transparent 25%),
		linear-gradient(135deg, #e2e2e4 30%, transparent 30%);
}
		/*linear-gradient(-154deg, #7ec2dd 46%, transparent 0%),*/
