@media (max-width: 768px) {
	.carousel-inner .carousel-item > div {
		display: none;
	}
	.carousel-inner .carousel-item > div:first-child {
		display: block;
	}
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
	display: flex;
}

.carousel-inner .carousel-item.active {
	border: 3px solid red;
}

.carousel-inner .carousel-item-next {
	border: 3px solid blue;
}

.carousel-inner .carousel-item-prev {
	border: 3px solid green;
}

.carousel-inner .carousel-item-right.active {
	border: 3px solid orange;
}

.carousel-inner .carousel-item-left.active {
	border: 3px solid hotpink;
}



@media (min-width: 1200px) {
	.carousel-inner .carousel-item-right.active,
	.carousel-inner .carousel-item-next {
		transform: translateX(25%);
	}

	.carousel-inner .carousel-item-left.active,
	.carousel-inner .carousel-item-prev {
		transform: translateX(-25%);
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.carousel-inner {
		border: 3px solid black;
	}
	/*.carousel-inner .carousel-item-next {*/
		/*transform: translateX(33%);*/
	/*}*/

	/*.carousel-inner .carousel-item-prev {*/
		/*transform: translateX(-33%);*/
	/*}*/
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
	transform: translateX(0);
}

.carousel {
	padding: 20px;
}

.listing-indicators{
	margin-bottom: -5px;
}

.listing-indicator-item {
	border: 3px solid #1982ce;
}

.carouselWrapper * {
	color: black;
	font-family: mostra-nuova, sans-serif;
	font-style: normal;
}

.carouselHeader{
	font-size: 2rem;
}