<div
	class="container-fluid"
	align="center"
	*ngIf="selectedListing && selectedListing.standardFields['Photos']">
	<div class="row">
		<div class="col-md-6">
			<div class="topLevelInfo">
				<div><h1>{{selectedListing.standardFields['ListPrice'] | currency}}</h1></div>
				<div><h3>{{selectedListing.standardFields['UnparsedAddress']}}</h3></div>
				<div><h5>Status: {{selectedListing.standardFields['MlsStatus']}}</h5></div>
			</div>
			<hr/>
			<div class="detailContainer">
				<div class="emailMargins">
					<abc-email [addressInfo]="selectedListing.standardFields['UnparsedAddress']"></abc-email>
				</div>
				<abc-listing-details [selectedListing]="selectedListing"></abc-listing-details>
				<div class="small">Listing courtesy of {{selectedListing.standardFields['ListAgentName']}} of {{selectedListing.standardFields['ListOfficeName']}}</div>
			</div>
		</div>
		<div class="col-md-6">
			<abc-photo-viewer [listingPhotos]="selectedListing.standardFields['Photos']"></abc-photo-viewer>
			<div class="description">Description: {{selectedListing.standardFields['PublicRemarks']}}</div>
		</div>
	</div>
</div>
<abc-legal *ngIf="selectedListing"></abc-legal>
