<div class="container-fluid" align="center" *ngIf="selectedListing && selectedListing.photos">
	<div class="row">
		<div class="col-md-6"  style="height:800px; overflow-x: scroll;  border:2px solid black;">Here is some stuff about the listing
			<div style="height: fit-content; border:2px solid red;">
				<img *ngFor="let photo of selectedListing.photos" src="{{photo.Uri300}}"/>

			</div>
		</div>
		<div class="col-md-6">
			<abc-photo-viewer [listingPhotos]="selectedListing.photos"></abc-photo-viewer>
		</div>
	</div>
	<div class="row" style="margin: 50px 0px;">
		<div class="col-12-sm">
			<img *ngFor="let photo of selectedListing.photos" src="{{photo.Uri300}}"/>

		</div>
	</div>
</div>
