.topLevelInfo {
	margin: 0.75rem 1.25rem;
	text-align: left;
	padding: 1rem;
}

.description {
	text-align: left;
}

.emailMargins {
	margin: 0rem 1.25rem;
}

.detailContainer {
	height: 600px;
	overflow-x: scroll;
}

.legal {
	border: 20px solid lightgray;
	padding: 20px;
	height: 400px;
	background-color: lightgray !important;
	background: url("../../assets/images/abc_logo_white.png");
	background-repeat: space;
	background-size: 125px 100px;
}